############################ Configuration file #############################
# Enter a valid python call to a feature, useful declared variables are:    #
#   train_sample :=  list of tuples: '0', 'text', 'category'                #
#   test_sample  :=  list of tuples: 'test_id', 'text', 'random_category'   #
#   progressbar  :=  training execution progress bar                        #
# The rows starting with an hash symbol (#) will be ignored                 #
#############################################################################


#BagOfWordsUnitedTFIDF(train_sample, test_sample, 1, progressbar)
#ContainsTopicUnitedTFIDF(train_sample, test_sample)
#BeautifulTopic()


#CounterFit(train_sample, test_sample, normalize=False)
#ExactDuration(train_sample, test_sample, normalize=False)
#HasCaption()
#Is3D()
#IsHD()
#IsLicensed()
#LangID(train_sample)
#PublishedDate(train_sample, test_sample, normalize=True)
#PublishedDateCyclic(train_sample, test_sample, normalize=True)
#RangeClassify('duration', [5*60, 15*60, 80*60, 150*60])




# DUPLICATE

#BagOfWordsOfDescription(train_sample)
#BagOfWordsOfTitle(train_sample)
#BagOfWordsUnited(train_sample)
#ContainsRelevantTopic(train_sample)
#ContainsTopic(train_sample)
#ContainsTopicUnited(train_sample, at_most=20000)
